<ion-content class="ion-padding">
  <br><br>
  <h1 class="ion-text-center logo-white">
    baltagram
  </h1>
  <br><br>
  <ion-list lines="none">
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <br>
    <ion-button ion-item color="light" expand="full" size="large" (click)="submit()">
      CADASTRAR
    </ion-button>
  </ion-list>
</ion-content>