<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-md="6">
        <br>
        <p text-center>
          <img src="https://placehold.it/250x80" alt="Contacts" width="250">
        </p>
        <br>
        <ion-list lines="none">
          <ion-item>
            <ion-input type="email" placeholder="E-mail">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input [type]="password" placeholder="Senha">
            </ion-input>
          </ion-item>
        </ion-list>
        <br>
        <ion-button color="primary" expand="full" size="large">
          Entrar
        </ion-button>
        <ion-button color="dark" fill="clear" expand="full">ESQUECI MINHA SENHA</ion-button>
        <br>
        <hr>
        <br>
        <p class="text-center animated fadeIn">
          <small>
            Ainda não tem cadastro?
          </small>
        </p>
        <ion-button href="/signup" shape="round" fill="outline" color="tertiary" size="large" expand="full">
          CADASTRE-SE
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>