<ion-content class="ion-padding">
  <br><br>
  <h1 class="ion-text-center logo-white">
    baltagram
  </h1>
  <br><br>
  <ion-list lines="none">
    <form [formGroup]="form">
      <ion-item>
        <ion-label position="stacked">E-mail</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Senha</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
    </form>
  </ion-list>
  <br>
  <ion-button ion-item color="light" fill="outline" shape="round" expand="full" size="large" (click)="submit()">
    Entrar
  </ion-button>
  <br>
  <ion-button ion-item color="light" expand="block" (click)="signInWithGoogle()">
    <ion-icon slot="start" name="logo-google"></ion-icon>&nbsp;&nbsp;LOGIN COM GOOGLE
  </ion-button>
  <br>
  <ion-button ion-item color="light" fill="clear" expand="full" (click)="goToSignup()">
    Ainda não sou cadastrado
  </ion-button>
</ion-content>