<ion-header>
  <ion-toolbar>
    <ion-title>contact-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <p class="text-center">
          <img src="https://picsum.photos/300/300" alt="Contact Name" class="profile-picture">
        </p>

        <ion-list lines="none">
          <ion-list-header>
            <ion-label>Information</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-input type="text" placeholder="Name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="Surname"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="Birthdate"></ion-input>
          </ion-item>

          <ion-list-header>
            <ion-label>Work</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-input type="text" placeholder="Company"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="Job Title"></ion-input>
          </ion-item>

          <ion-list-header>
            <ion-label>Phones</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-input type="text" placeholder="Phone Number"></ion-input>
          </ion-item>

          <ion-list-header>
            <ion-label>Location</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-input type="text" placeholder="Search location..."></ion-input>
          </ion-item>
          <ion-item>
            <div slot="start">
              <ion-button color="danger">Delete</ion-button>
            </div>
            <div slot="end">
              <ion-button color="dark" fill="clear" href="/home">Cancel</ion-button>
              <ion-button color="success" href="/home">Save</ion-button>
            </div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>